@model  MyProject.ViewModel.CustomerAccountViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All My Customers</h2>
<br />
@Html.ActionLink("Create New Customer","Create")

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Customer.Id)</th>
                <th>@Html.DisplayNameFor(model => model.Customer.FirstName)</th>
                <th>@Html.DisplayNameFor(model => model.Customer.LastName)</th>
                <th>@Html.DisplayNameFor(model => model.Customer.Address)</th>
                <th>@Html.DisplayNameFor(model => model.Customer.PhoneNumber)</th>
            <th>@Html.DisplayNameFor(model => model.BankAccounts)</th>
            <th>Actions</th>


        </tr>
    </thead>
    <tbody>
   

        <tr>
                <td>@Html.DisplayFor(model =>model.Customer.Id)</td>
                <td>@Html.DisplayFor(model => model.Customer.FirstName)</td>
                <td>@Html.DisplayFor(model =>model.Customer.LastName)</td>
                <td>@Html.DisplayFor(model =>model.Customer.Address)</td>
                <td>@Html.DisplayFor(model => model.Customer.PhoneNumber)</td>
                 @foreach (var account in Model.BankAccounts)

                 {

                  <td>@Html.DisplayFor(model => account.AccountNumber)</td>

                 }

                @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = customer.Id })
                    @Html.ActionLink("Details", "Details", new { id = customer.Id })
                    @Html.ActionLink("Delete", "Details", new { id = customer.Id })
                </td>*@
            </tr>

         
     </tbody>




    </table>





